/* ArtistCard.css */

#i{
  width: 100px;
  height: 100px;
}

.artist-card {
  border-radius: 50%;
  overflow: hidden;
}

.artist-card img {
  width: 100%;
  border-radius: 50%;
}

/* App.css */
.App {
  text-align: center;
}

.artist-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.artist-details {
  text-align: center;
  margin: 10px;
}
